node_modules
.next/server/vendor-chunks/react-bootstrap.js
.next/server/vendor-chunks/react-confirm-alert.js
.next/server/vendor-chunks/react-toastify.js
.next/static/chunks/_error.js
.next/static/chunks/main.js
.next/static/chunks/polyfills.js
.next/static/chunks/react-refresh.js
.next/static/chunks/webpack.js
.next/static/chunks/pages/_app.js
.next/static/chunks/pages/_error.js
.next/static/chunks/pages/index.js
.next/static/chunks/pages/pacientes.js
.next/static/chunks/pages/pacientes/editar.js
.next/static/development/_buildManifest.js
.next/static/development/_ssgManifest.js
.next/static/webpack/24edc9a46f3650fc.webpack.hot-update.json
.next/static/webpack/56a193aa252dca3f.webpack.hot-update.json
.next/static/webpack/0548e24f86bcec62.webpack.hot-update.json
.next/static/webpack/6921dc5fa8353a9b.webpack.hot-update.json
.next/static/webpack/633457081244afec._.hot-update.json
.next/static/webpack/a0cf4bd1b7788e8c.webpack.hot-update.json
.next/static/webpack/c82e73772477f613.webpack.hot-update.json
.next/static/webpack/ca5cc28b161d459f.webpack.hot-update.json
.next/static/webpack/cba101f628c44ab0.webpack.hot-update.json
.next/static/webpack/webpack.24edc9a46f3650fc.hot-update.js
.next/static/webpack/webpack.56a193aa252dca3f.hot-update.js
.next/static/webpack/webpack.0548e24f86bcec62.hot-update.js
.next/static/webpack/webpack.6921dc5fa8353a9b.hot-update.js
.next/static/webpack/webpack.a0cf4bd1b7788e8c.hot-update.js
.next/static/webpack/webpack.c82e73772477f613.hot-update.js
.next/static/webpack/webpack.ca5cc28b161d459f.hot-update.js
.next/static/webpack/webpack.cba101f628c44ab0.hot-update.js
.next/static/webpack/pages/pacientes/editar.56a193aa252dca3f.hot-update.js
.next/static/webpack/pages/pacientes/editar.0548e24f86bcec62.hot-update.js
.next/static/webpack/pages/pacientes/editar.6921dc5fa8353a9b.hot-update.js
.next/static/webpack/pages/pacientes/editar.a0cf4bd1b7788e8c.hot-update.js
.next/static/webpack/pages/pacientes/editar.ca5cc28b161d459f.hot-update.js
package-lock.json
.next/build-manifest.json
.next/package.json
.next/react-loadable-manifest.json
.next/trace
.next/cache/webpack/client-development/0.pack.gz
.next/cache/webpack/client-development/1.pack.gz
.next/cache/webpack/client-development/2.pack.gz
.next/cache/webpack/client-development/3.pack.gz
.next/cache/webpack/client-development/4.pack.gz
.next/cache/webpack/client-development/5.pack.gz
.next/cache/webpack/client-development/6.pack.gz
.next/cache/webpack/client-development/index.pack.gz
.next/cache/webpack/client-development/index.pack.gz.old
.next/cache/webpack/server-development/0.pack.gz
.next/cache/webpack/server-development/1.pack.gz
.next/cache/webpack/server-development/2.pack.gz
.next/cache/webpack/server-development/3.pack.gz
.next/cache/webpack/server-development/4.pack.gz
.next/cache/webpack/server-development/5.pack.gz
.next/cache/webpack/server-development/6.pack.gz
.next/cache/webpack/server-development/7.pack.gz
.next/cache/webpack/server-development/index.pack.gz
.next/cache/webpack/server-development/index.pack.gz.old
.next/server/_error.js
.next/server/interception-route-rewrite-manifest.js
.next/server/middleware-build-manifest.js
.next/server/middleware-manifest.json
.next/server/middleware-react-loadable-manifest.js
.next/server/next-font-manifest.js
.next/server/next-font-manifest.json
.next/server/pages-manifest.json
.next/server/webpack-runtime.js
.next/server/pages/_app.js
.next/server/pages/_document.js
.next/server/pages/_error.js
package-lock.json
.next/server/pages/index.js
.next/server/pages/pacientes.js
.next/server/pages/pacientes/editar.js
.next/server/vendor-chunks/@swc.js
.next/server/vendor-chunks/bootstrap.js
.next/server/vendor-chunks/next.js
